<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net452" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net452" />
  <package id="Accord.Neuro" version="3.0.2" targetFramework="net452" />
  <package id="Eto.OxyPlot.Wpf" version="1.0.5377.38510" targetFramework="net452" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net452" />
  <package id="OxyPlot.WindowsForms" version="2014.1.546" targetFramework="net452" />
  <package id="oxyplot-extensions" version="1.0.13" targetFramework="net452" />
</packages>